<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxnutrition.admin.mapper.CategoriesMapper" >
  <resultMap id="BaseResultMap" type="com.wxnutrition.admin.pojo.Categories" >
    <id column="categories_id" property="categoriesId" jdbcType="VARCHAR" />
    <result column="categories_name" property="categoriesName" jdbcType="VARCHAR" />
    <result column="categories_desc" property="categoriesDesc" jdbcType="VARCHAR" />
    <result column="categories_status" property="categoriesStatus" jdbcType="INTEGER" />
    <result column="parent_categories_id" property="parentCategoriesId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    categories_id, categories_name, categories_desc, categories_status, parent_categories_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wxnutrition.admin.pojo.CategoriesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from categories
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from categories
    where categories_id = #{categoriesId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from categories
    where categories_id = #{categoriesId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wxnutrition.admin.pojo.CategoriesExample" >
    delete from categories
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wxnutrition.admin.pojo.Categories" >
    insert into categories (categories_id, categories_name, categories_desc, 
      categories_status, parent_categories_id)
    values (#{categoriesId,jdbcType=VARCHAR}, #{categoriesName,jdbcType=VARCHAR}, #{categoriesDesc,jdbcType=VARCHAR}, 
      #{categoriesStatus,jdbcType=INTEGER}, #{parentCategoriesId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wxnutrition.admin.pojo.Categories" >
    insert into categories
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoriesId != null" >
        categories_id,
      </if>
      <if test="categoriesName != null" >
        categories_name,
      </if>
      <if test="categoriesDesc != null" >
        categories_desc,
      </if>
      <if test="categoriesStatus != null" >
        categories_status,
      </if>
      <if test="parentCategoriesId != null" >
        parent_categories_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoriesId != null" >
        #{categoriesId,jdbcType=VARCHAR},
      </if>
      <if test="categoriesName != null" >
        #{categoriesName,jdbcType=VARCHAR},
      </if>
      <if test="categoriesDesc != null" >
        #{categoriesDesc,jdbcType=VARCHAR},
      </if>
      <if test="categoriesStatus != null" >
        #{categoriesStatus,jdbcType=INTEGER},
      </if>
      <if test="parentCategoriesId != null" >
        #{parentCategoriesId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wxnutrition.admin.pojo.CategoriesExample" resultType="java.lang.Integer" >
    select count(*) from categories
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update categories
    <set >
      <if test="record.categoriesId != null" >
        categories_id = #{record.categoriesId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoriesName != null" >
        categories_name = #{record.categoriesName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoriesDesc != null" >
        categories_desc = #{record.categoriesDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.categoriesStatus != null" >
        categories_status = #{record.categoriesStatus,jdbcType=INTEGER},
      </if>
      <if test="record.parentCategoriesId != null" >
        parent_categories_id = #{record.parentCategoriesId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update categories
    set categories_id = #{record.categoriesId,jdbcType=VARCHAR},
      categories_name = #{record.categoriesName,jdbcType=VARCHAR},
      categories_desc = #{record.categoriesDesc,jdbcType=VARCHAR},
      categories_status = #{record.categoriesStatus,jdbcType=INTEGER},
      parent_categories_id = #{record.parentCategoriesId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxnutrition.admin.pojo.Categories" >
    update categories
    <set >
      <if test="categoriesName != null" >
        categories_name = #{categoriesName,jdbcType=VARCHAR},
      </if>
      <if test="categoriesDesc != null" >
        categories_desc = #{categoriesDesc,jdbcType=VARCHAR},
      </if>
      <if test="categoriesStatus != null" >
        categories_status = #{categoriesStatus,jdbcType=INTEGER},
      </if>
      <if test="parentCategoriesId != null" >
        parent_categories_id = #{parentCategoriesId,jdbcType=VARCHAR},
      </if>
    </set>
    where categories_id = #{categoriesId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxnutrition.admin.pojo.Categories" >
    update categories
    set categories_name = #{categoriesName,jdbcType=VARCHAR},
      categories_desc = #{categoriesDesc,jdbcType=VARCHAR},
      categories_status = #{categoriesStatus,jdbcType=INTEGER},
      parent_categories_id = #{parentCategoriesId,jdbcType=VARCHAR}
    where categories_id = #{categoriesId,jdbcType=VARCHAR}
  </update>

  <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from categories where categories_name = #{categoriesName}
  </select>
</mapper>