<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxnutrition.admin.mapper.LabelsMapper" >
  <resultMap id="BaseResultMap" type="com.wxnutrition.admin.pojo.Labels" >
    <id column="label_id" property="labelId" jdbcType="VARCHAR" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wxnutrition.admin.pojo.Labels" extends="BaseResultMap" >
    <result column="label_desc" property="labelDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    label_id, label_name
  </sql>
  <sql id="Blob_Column_List" >
    label_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.wxnutrition.admin.pojo.LabelsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wxnutrition.admin.pojo.LabelsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from labels
    where label_id = #{labelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from labels
    where label_id = #{labelId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wxnutrition.admin.pojo.LabelsExample" >
    delete from labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wxnutrition.admin.pojo.Labels" >
    insert into labels (label_id, label_name, label_desc
      )
    values (#{labelId,jdbcType=VARCHAR}, #{labelName,jdbcType=VARCHAR}, #{labelDesc,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wxnutrition.admin.pojo.Labels" >
    insert into labels
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="labelName != null" >
        label_name,
      </if>
      <if test="labelDesc != null" >
        label_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null" >
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelDesc != null" >
        #{labelDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wxnutrition.admin.pojo.LabelsExample" resultType="java.lang.Integer" >
    select count(*) from labels
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update labels
    <set >
      <if test="record.labelId != null" >
        label_id = #{record.labelId,jdbcType=VARCHAR},
      </if>
      <if test="record.labelName != null" >
        label_name = #{record.labelName,jdbcType=VARCHAR},
      </if>
      <if test="record.labelDesc != null" >
        label_desc = #{record.labelDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update labels
    set label_id = #{record.labelId,jdbcType=VARCHAR},
      label_name = #{record.labelName,jdbcType=VARCHAR},
      label_desc = #{record.labelDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update labels
    set label_id = #{record.labelId,jdbcType=VARCHAR},
      label_name = #{record.labelName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxnutrition.admin.pojo.Labels" >
    update labels
    <set >
      <if test="labelName != null" >
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelDesc != null" >
        label_desc = #{labelDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wxnutrition.admin.pojo.Labels" >
    update labels
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_desc = #{labelDesc,jdbcType=LONGVARCHAR}
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxnutrition.admin.pojo.Labels" >
    update labels
    set label_name = #{labelName,jdbcType=VARCHAR}
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
</mapper>